{% extends "base.html" %}

{% block content %}
<div class="details-container">
    <div class="poster">
        {% if movie.poster_path %}
            <img src="https://image.tmdb.org/t/p/w500{{ movie.poster_path }}" alt="{{ movie.title }}">
        {% else %}
            <img src="https://via.placeholder.com/500x750?text=No+Image" alt="No image available">
        {% endif %}
    </div>
    <div class="details-content">
        <h1>{{ movie.title }}</h1>
        <p><strong>Release Date:</strong> {{ movie.release_date }}</p>
        <p><strong>Rating:</strong> {{ movie.vote_average }}/10 ({{ movie.vote_count }} votes)</p>
        <p><strong>Overview:</strong> {{ movie.overview }}</p>
        <div class="actions">
            <a href="/movies/add_to_list?movie_id={{ movie.id }}&list=favorites" class="button">Add to Favorites</a>
            <a href="/movies/add_to_list?movie_id={{ movie.id }}&list=watched" class="button">Mark as Watched</a>
            <a href="/movies/add_to_list?movie_id={{ movie.id }}&list=to_watch" class="button">Add to Watchlist</a>
        </div>
    </div>
</div>
{% endblock %}
